.btn{
    background: #241F5C;
    padding: 19px 41px;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    transition: .5s;
    font-size: 64px;
    line-height: 78px;
}
.btn:hover{
    background: #3799C4;
}
.btn:disabled{
    pointer-events: none;
    background: #241f5c94;
}