@media screen and (max-width: 950px) {
    .modal__content{
        width: 525px;
        height: 592px;
        padding-top: 35px;
    }
}
@media screen and (max-width: 645px) {
    .modal__content{
        width: 387px;
        height: 482px;
        padding-top: 25px;
    }
    #root{
        margin: 0 100px;
    }
    .modal__content .card__title{
        font-size: 25px;
    }
    .modal__content p{
        font-size: 25px;
    }

}
@media screen and (max-width: 520px) {
    #root{
        margin: 0 20px;
    }

    .modal__btn{
        top: 10px;
        right: 12px;
    }
}

@media screen and (max-width: 455px) {
    .modal__content{
        width: 278px;
        height: 477px;
    }
    .modal__content .card__title{
        font-size: 20px;
    }
    .modal__content p{
        font-size: 20px;
    }

}
