@media screen and (max-width: 950px) {
    .modal__content{
        width: 525px;
        height: 592px;
        padding-top: 35px;
    }
}
@media screen and (max-width: 645px) {
    .modal__content{
        width: 387px;
        height: 482px;
        padding-top: 25px;
    }

}