@media screen and (max-width: 950px) {
    .modal__content{
        width: 525px;
        height: 592px;
        padding-top: 35px;
    }
}
@media screen and (max-width: 645px) {
    .modal__content{
        width: 387px;
        height: 482px;
        padding-top: 25px;
    }
    #root{
        margin: 0 100px;
    }
    .modal__content .card__title{
        font-size: 25px;
    }
    .modal__content p{
        font-size: 25px;
    }

}
@media screen and (max-width: 520px) {
    #root{
        margin: 0 20px;
    }

    .modal__btn{
        top: 10px;
        right: 12px;
    }
}

@media screen and (max-width: 455px) {
    .modal__content{
        width: 278px;
        height: 477px;
    }
    .modal__content .card__title{
        font-size: 20px;
    }
    .modal__content p{
        font-size: 20px;
    }

}

@media screen and (max-width: 1320px) {
    #root{
        margin: 0 30px;
    }
    .login{
        margin: 0 39px;
    }
}
@media screen and (max-width: 500px) {
    #root{
        margin: 0 30px;
    }
    .login{
        margin-top: 25px;
    }
    .login form input{
        margin-top: 50px;
        font-size: 30px;
        padding: 0 5px;
    }
    .login form button{
        bottom: -195px;
    }
}

@media screen and (max-width: 450px) {
    .Header_header__rt03G .header__title{
        font-size: 30px !important;
    }
    .Header_header__rt03G .back-link{
        font-size: 30px;
    }
    .Header_header__rt03G img{
        margin: 0;
    }
}

@media screen and (max-width: 420px) {
    .login form button{
        font-size: 40px;
    }
    .login h1{
        font-size: 40px;
        margin-top: 20px;
    }
    .login form input{
        font-size: 24px;
        padding: 0 5px;
        height: 100px;
    }
}